:root {
  --color-choice: #2F303A;
  --color-main: #FFFFFF;
  --color-blue: #2196F3;
  --color-footer: #2F303A;
  --fotter-list: #FFFFFF;
  --heder-list: #212121;
  --color-text: #757575;
  --color-logo: #000000;
  --color-fotter-contact: rgba(255, 255, 255, 0.6);
  --color-button: #F5F4FA;
  --cardset-gap: 30px;
  --icon-gap: 10px;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-radius: 0px 0px 4px 4px;
  --button-radius: 4px 4px 4px 4px;
  --border-color: #EEEEEE;
  --border-color-nav: #ECECEC;
  --backgroung-color-hero: #C4C4C4;
  --fill-icon-socials: #AFB1B8;
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
  --background-color-img-box: rgba(47, 48, 58, 0.8);
}

address {
  font-style: normal;
  /* or */
  font-style: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  color: var(--color-text);
  background-color: var(--color-main);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
ul,
p,
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.choice-section {
  display: block;
  text-align: center;
}

.choice-section {
  background-color: var(--color-choice);
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(47, 48, 58, 0.4)), color-stop(40%, rgba(47, 48, 58, 0.4))), url(../images/Img14.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 40%, rgba(47, 48, 58, 0.4) 40%), url(../images/Img14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--color-logo);
}

.hero-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .hero-container {
    max-width: 480px;
  }
}

.hero {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  color: var(--color-main);
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 1600px;
}
@media screen and (min-width: 480px) {
  .hero {
    min-width: 480px;
  }
}

.btn {
  background-color: var(--color-blue);
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--color-main);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: var(--button-radius);
  padding: 10px 32px;
  margin-top: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--cubik), visibility 250ms var(--cubik);
  transition: opacity 250ms var(--cubik), visibility 250ms var(--cubik);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--color-main);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--cubik);
  transition: -webkit-transform 250ms var(--cubik);
  transition: transform 250ms var(--cubik);
  transition: transform 250ms var(--cubik), -webkit-transform 250ms var(--cubik);
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heder-list);
  margin-bottom: 30px;
}

.form-name {
  margin-bottom: 10px;
}

.form-name-label {
  text-align: left;
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-text);
  margin-bottom: 8px;
}

.form-input {
  position: relative;
}

.form-name-input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-right: 42px;
  padding-bottom: 12px;
  padding-left: 42px;
  background: var(--fotter-list);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

::-webkit-input-placeholder {
  font-family: inherit;
  color: rgba(117, 117, 117, 0.5);
}

::-moz-placeholder {
  font-family: inherit;
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  font-family: inherit;
  color: rgba(117, 117, 117, 0.5);
}

::-ms-input-placeholder {
  font-family: inherit;
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  font-family: inherit;
  color: rgba(117, 117, 117, 0.5);
}

.form-name-input-textarea {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
}

.form-name-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--heder-list);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name-input:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.form-name-input:focus + .form-name-icon {
  fill: #2196F3;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--tiele-text-color);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 37px;
  display: inline-block;
}

.checkbox-input:checked ~ .icon-bird {
  opacity: 1;
}

.icon-bird {
  position: absolute;
  fill: #ffffff;
  background: #2196F3;
  border: 0.2px solid #2196F3;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name-lable-text {
  color: var(--color-blue);
}

.checkbox-icon {
  position: absolute;
  left: 52px;
}

.checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-name-btn {
  cursor: pointer;
  color: #fff;
  background-color: var(--color-blue);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubik);
          transition-timing-function: var(--cubik);
}

.form-name-btn:hover,
.form-name-btn:focus {
  color: var(--fotter-list);
  background-color: #188CE8;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  background-color: var(--fotter-list);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  color: var(--color-blue);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__section {
  padding-top: 0;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #212121;
  letter-spacing: 0.03em;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img-box__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
}
.img-box__item:nth-child(3n) {
  margin-right: 0;
}

.img-box__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  color: #000000;
  font-family: Roboto, sans-serif;
}

.filter__button {
  color: #000000;
  background-color: #F5F4FA;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 8px;
  border-radius: 4px 4px 4px 4px;
  padding: 6px 22px;
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.filter .filter__button:active {
  color: #FFFFFF;
  background-color: #2196F3;
}

.app-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--cardset-gap));
}

.app-list > .item-app {
  -ms-flex-preferred-size: calc(33.3333333333% - var(--cardset-gap));
      flex-basis: calc(33.3333333333% - var(--cardset-gap));
  margin-left: var(--cardset-gap);
  margin-top: 30px;
  background-color: var(--color-main);
}

.app-list > .item-app:nth-child(-n+3) {
  margin-top: 0px;
}

.app-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
  border-left: solid 1px var(--border-color);
}

.product-link {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: -webkit-box-shadow 250ms var(--cubik);
  transition: -webkit-box-shadow 250ms var(--cubik);
  transition: box-shadow 250ms var(--cubik);
  transition: box-shadow 250ms var(--cubik), -webkit-box-shadow 250ms var(--cubik);
}

.product-link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-link-content {
  position: relative;
  overflow: hidden;
}

.product-link-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-main);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--cubik);
  transition: -webkit-transform 250ms var(--cubik);
  transition: transform 250ms var(--cubik);
  transition: transform 250ms var(--cubik), -webkit-transform 250ms var(--cubik);
}

.product-link:hover .product-link-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.type {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-text);
  letter-spacing: 0.03em;
}

.product {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--heder-list);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.header {
  width: 100%;
  height: 60px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 479px) {
  .header__container {
    max-width: 479px;
  }
}
@media screen and (min-width: 480px) {
  .header__container {
    min-width: 480px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__container {
    max-width: 767px;
  }
}
@media screen and (max-width: 1199px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__button {
    display: block;
    position: relative;
    border: none;
    z-index: 20;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #212121;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__button .icon-cross {
  display: none;
}

.header__button.is-open .icon-cross {
  display: block;
}

.header__button.is-open .icon-menu {
  display: none;
}

.icon-menu:hover {
  fill: #2196F3;
}

.icon-menu:focus {
  fill: #2196F3;
}

.icon-cross:hover {
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 48px 40px;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.menu-container.is-open {
  display: block;
  background-color: #FFFFFF;
}

.header__navigation {
  margin-top: 48px;
  margin-left: 40px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  color: #212121;
}

.header__link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-logo);
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--color-blue);
  text-decoration: none;
}

.header__text {
  margin-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  text-decoration: none;
}
.header__text:hover {
  color: #2196F3;
}
.header__text:focus {
  color: #2196F3;
}

.header__item {
  margin-bottom: 32px;
}
.header__item:last-child {
  margin-left: 0px;
}

.header__contacts {
  margin-top: 306px;
  margin-left: 40px;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.header__label {
  font-weight: 500;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .header__label {
    font-size: 34px;
  }
}
.header__label--color {
  color: #757575;
}
.header__label:hover, .header__label:focus {
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__envelope {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .header__envelope {
    display: none;
  }
}
.header__label:hover .header__envelope {
  fill: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}
@media screen and (max-width: 768px) {
  .header__smartphone {
    display: none;
  }
}
.header__label:hover .header__smartphone {
  fill: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  color: var(--fotter-list);
  background-color: var(--color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .footer {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    min-width: 1200px;
  }
}

.footer-container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .footer-wrap {
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.logo-fotter {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-main);
  /*margin-top: 60px;
  margin-bottom: 20px;*/
}

.color-logo-fotter {
  color: var(--color-blue);
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 20px;
}

.address-footer {
  margin-top: 20px;
}

.address-list:not(:last-child) {
  margin-bottom: 9px;
}

.contact-list {
  color: var(--color-fotter-contact);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.contact-list:hover {
  color: var(--color-blue);
  -webkit-transition: color 250ms var(--cubik);
  transition: color 250ms var(--cubik);
}

.contact-list:focus {
  color: var(--fotter-list);
}

.map {
  color: var(--color-main);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer-icon-box {
    width: 206px;
    height: 80px;
    margin-left: 70px;
  }
}

.footer-icon-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc(25% - var(--icon-gap));
      flex-basis: calc(25% - var(--icon-gap));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.socials-link-footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--color-main);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--cubik), fill 250ms var(--cubik);
  transition: background-color 250ms var(--cubik), fill 250ms var(--cubik);
}

.socials-link-footer:hover {
  fill: white;
  -webkit-transition: background-color 250ms var(--cubik), fill 250ms var(--cubik);
  transition: background-color 250ms var(--cubik), fill 250ms var(--cubik);
  background-color: var(--color-blue);
  border-radius: 100%;
}

.socials-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.socials-item:first-child {
  margin-left: 0;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    margin-left: auto;
  }
}

.subscribe-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscribe-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .subscribe-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}

.subscribe-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  background-color: inherit;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-icon {
  position: absolute;
  right: 100px;
  top: 79%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--fotter-list);
}
@media screen and (min-width: 1200px) {
  .subscribe-icon {
    right: 28px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--fotter-list);
  }
}

.subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto;
  padding-top: 10px;
  padding-right: 29px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
  background-color: #2196F3;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscribe-btn {
    margin-left: 12px;
  }
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  color: var(--fotter-list);
  background-color: #188CE8;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .about__section {
    display: none;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}
@media screen and (max-width: 1199px) {
  .main-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.item-list {
  margin: 15px;
  min-width: 290px;
}
@media screen and (min-width: 480px) {
  .item-list {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .item-list {
    width: calc((100% - 60px) / 2);
  }
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: content;
      -ms-flex: content;
          flex: content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-button);
  height: 120px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.icon-box:hover {
  border-radius: var(--box-radius);
  -webkit-box-shadow: 0px 4px 4px;
          box-shadow: 0px 4px 4px;
}

.icon {
  background-color: var(--color-button);
  fill: var(--color-text);
}

.action {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--heder-list);
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .action {
    text-align: center;
  }
}

.description {
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-text);
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-section {
  background-color: #F5F4FA;
}

.team {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: var(--heder-list);
  letter-spacing: 0.03em;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team {
    font-size: 36px;
  }
}

.title-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}
@media screen and (max-width: 1199px) {
  .title-team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .title-team {
    margin-left: calc(-1 * var(--cardset-gap));
    text-align: center;
    margin-top: 50px;
  }
}

.img-team {
  background-color: #FFFFFF;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 480px) {
  .img-team {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .img-team {
    width: calc((100% - 60px) / 2);
  }
}

.img-person {
  width: 100%;
}

.title-team > .img-team {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .title-team > .img-team {
    -ms-flex-preferred-size: calc(25% - var(--cardset-gap));
        flex-basis: calc(25% - var(--cardset-gap));
    margin-left: var(--cardset-gap);
    background-color: var(--color-main);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border-radius: var(--box-radius);
  }
}

.card-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--heder-list);
  letter-spacing: 0.03em;
}

.speciality {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-text);
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc(25% - var(--icon-gap));
      flex-basis: calc(25% - var(--icon-gap));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.socials-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  /* fill: var(--fill-icon-socials); */
}

.socials-item:first-child {
  margin-left: 0;
}

.socials-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--fill-icon-socials);
  -webkit-transition: background-color 250ms var(--cubik), fill 250ms var(--cubik);
  transition: background-color 250ms var(--cubik), fill 250ms var(--cubik);
}

.socials-link:hover {
  fill: white;
  -webkit-transition: background-color 250ms var(--cubik), fill 250ms var(--cubik);
  transition: background-color 250ms var(--cubik), fill 250ms var(--cubik);
  background-color: var(--color-blue);
  border-radius: 100%;
}

.client-container {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--heder-list);
  letter-spacing: 0.03em;
  display: block;
  text-align: center;
  margin: auto;
}

.client-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: var(--heder-list);
  letter-spacing: 0.03em;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client-header {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc(16.6666666667% - var(--cardset-gap));
      flex-basis: calc(16.6666666667% - var(--cardset-gap));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .client-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.icon-client-item {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border 250ms var(--cubik);
  transition: border 250ms var(--cubik);
  margin: 15px;
  width: calc((100% - 60px) / 2);
  height: 92px;
  /* justify-content: center;
  align-items: center; */
}
@media screen and (min-width: 768px) {
  .icon-client-item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .icon-client-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
    width: 170px;
    height: 92px;
  }
}

@media screen and (min-width: 1199px) {
  .icon-client-item:first-child {
    margin-left: 0;
  }
}

.icon-client-item:hover {
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--cubik);
  transition: border 250ms var(--cubik);
}

.icon-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--fill-icon-socials);
  width: 100%;
  height: 100%;
  -webkit-transition: fill 250ms var(--cubik);
  transition: fill 250ms var(--cubik);
}

.icon-group:hover {
  fill: var(--color-blue);
  -webkit-transition: fill 250ms var(--cubik);
  transition: fill 250ms var(--cubik);
}/*# sourceMappingURL=main.css.map */