.app-list {
    display: flex;
    flex-wrap: wrap;

    // @media screen and (min-width: 1200px) {
    //     margin-left: calc(-1 * var(--cardset-gap));
    // }
}

// .app-list>.item-app {

//     // @media screen and (min-width: 480px) {
//     //     width: 450px;
//     // }

//     // @media screen and (min-width: 1200px) {
//     //     flex-basis: calc(100%/3 - var(--cardset-gap));
//     //     margin-left: var(--cardset-gap);
//     //     margin-top: 30px;
//     //     background-color: var(--color-main);
//     // }
// }

.item-app {
    @media screen and (min-width: 480px) {
        width: 450px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        margin: 15px;
        width: calc((100% - 60px)/2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px)/3);
    }
}


.product-img {
    width: 100%;
}

.app-list>.item-app:nth-child(-n + 3) {
    margin-top: 0px;
}

.app-content {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    border-left: solid 1px var(--border-color);
}

.product-link {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: box-shadow 250ms var(--cubik);
}

.product-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-link-content {
    position: relative;
    overflow: hidden;
}

.product-link-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    color: var(--color-main);
    transform: translateY(100%);
    transition: transform 250ms var(--cubik);
}

.product-link:hover .product-link-overlay {
    transform: translateY(0);
}

.type {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.9;
    color: var(--color-text);
    letter-spacing: 0.03em;
}

.product {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--heder-list);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}