
.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.main-list {
    display: flex;
    margin: -15px;

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1170px;
        margin: 0;
    }

}

.item-list {
    margin: 15px;
    min-width: 290px;
    
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px)/2);
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        margin: 0;
        &:nth-child(4n){
            margin-right: 0;
        }
    }

}

// .item-list:nth-child(4n) {
//     margin-right: 0;
// }

.icon-box {
    display: flex;
    flex: content;
    justify-content: center;
    align-items: center;
    background-color: var(--color-button);
    // width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    // box-shadow: 0px 4px 4px;

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.icon-box:hover {
    border-radius: var(--box-radius);
    box-shadow: 0px 4px 4px;
}

.icon {
    background-color: var(--color-button);
    fill: var(--color-text);
}

.action {
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--heder-list);
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
        text-align: center;
    }

}

.description {
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-text);
    letter-spacing: 0.03em;
    margin-top: 10px;
}