.footer {
    color: var(--fotter-list);
    background-color: var(--color-footer);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 480px) {
        min-width: 480px;
    }

    @media screen and (min-width: 768px) {
        min-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        min-width: 1200px;
    }
}

.footer-container {
    
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;


    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }

}

.footer-wrap {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        gap: 60px;
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

.footer-info {

}


.logo-fotter {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-main);
    /*margin-top: 60px;
    margin-bottom: 20px;*/
}

.color-logo-fotter {
    color: var(--color-blue);
    text-decoration: none;
    margin-top: 60px;
    margin-bottom: 20px;
}

.address-footer {
    margin-top: 20px;
}

.address-list:not(:last-child) {
    margin-bottom: 9px;
}

.contact-list {
    color: var(--color-fotter-contact);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.contact-list:hover {
    color: var(--color-blue);
    transition: color 250ms var(--cubik);
}

.contact-list:focus {
    color: var(--fotter-list);
}

.map {
    color: var(--color-main);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-icon-box {
    
    @media screen and (min-width: 1200px) {
        width: 206px;
        height: 80px;
        margin-left: 70px;
    }
}

.footer-icon-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-icon-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100%/4 - var(--icon-gap));
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.socials-link-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color-main);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms var(--cubik), fill 250ms var(--cubik);
}

.socials-link-footer:hover {
    fill: white;
    transition: background-color 250ms var(--cubik), fill 250ms var(--cubik);
    background-color: var(--color-blue);
    border-radius: 100%;
}

.socials-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.socials-item:first-child {
    margin-left: 0;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-form {
    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}

.subscribe-label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.subscribe-control {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media screen and (min-width: 1200px) {
        display: flex;
        position: relative;
    }

}

.subscribe-input {
    // display: flex;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: inherit;
    background-color: inherit;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe-icon {
    position: absolute;
    right: 100px;
    top: 79%;
    transform: translateY(-50%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--fotter-list);

    @media screen and (min-width: 1200px) {
        right: 28px;
        top: 50%;
        transform: translateY(-50%);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        fill: var(--fotter-list);
    }

}

.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin: auto;
    padding-top: 10px;
    padding-right: 29px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    background-color: #2196F3;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    min-width: 200px;
    min-height: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



    @media screen and (min-width: 1200px) {
        margin-left: 12px;
    }

}


.subscribe-btn:hover,
.subscribe-btn:focus {
    color: var(--fotter-list);
    background-color: #188CE8;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%),
        0px 1px 2px rgb(0 0 0 / 8%),
        0px 2px 2px rgb(0 0 0 / 12%);
    border-radius: 4px;
}