.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
address {
    font-style: normal;
    /* or */
    font-style: inherit;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
body {
    font-family: Roboto, sans-serif;
    color: var(--color-text);
    background-color: var(--color-main);
    font-size: 14px;
    letter-spacing: 0.03em;

}

h1,
h2,
h3,
ul,
p,
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}