
.about__section {
    padding-top: 0;
}

.about__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: $header-list;
    letter-spacing: 0.03em;
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.img-box {
    display: flex;
    flex-wrap: wrap;
}

.img-box__item {
    position: relative;
    width: 370px;
    margin-right: 30px;
    
    &:nth-child(3n) {
        margin-right: 0;
        }
}

.img-box__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px;
    margin: 0;
    background-color: $background-color-img-box;
    color: $color-main;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}