
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        min-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        min-width: 1200px;
    }

}

.header {
    
    width: 100%;
    height: 60px;
    position: relative;
    
    @media screen and (min-width: 768px) {
        height: 80px;
    }

    &__container {
        display: flex;
        align-items: center;

        @media screen and (max-width: 479px) {
            max-width: 479px;
        }

        @media screen and (max-width: 1199px) {
            justify-content: space-between;
        }

    }

}

.header__button {



    display: block;
    position: relative;
    border: none;
    z-index: 20;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #212121;
    background-color: transparent;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.header__button .icon-cross {
    display: none;
}

.header__button.is-open .icon-cross {
    display: block;
}

.header__button.is-open .icon-menu {
    display: none;
}

.icon-menu:hover {
    fill: $color-blue;
}
.icon-menu:focus {
    fill: $color-blue;
}

.icon-cross:hover {
    fill: $color-blue;
}

.menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.is-open {
        display: block;
        background-color: $color-main;

    }

    // &__item {
    //     font-family: 'Roboto';
    //     font-style: normal;
    //     font-weight: 500;
    //     font-size: 40px;
    //     line-height: 1.2px;
    //     letter-spacing: 0.02em;
    //     color:#212121;
    // }

}

// .header {
//     border-bottom-style: solid;
//     border-bottom-color: $border-color-nav;
//     border-width: 1px;
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 60px;
//     width: 100%;
//     background-color: #fff;
//     z-index: 1;
//     align-items: center;


//     &__container  {
//         @media screen and (max-width: 1199px) {
//             justify-content: space-between;
//         }

//         @media screen and (max-width: 479px) {
//             max-width: 479px;
//         }

//         @media screen and (min-width: 480px) and (max-width: 767px) {
//             max-width: 767px;
//         }

//         display: flex;
//         align-items: center;


//     }
// }

// .header ::after {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 1px;
//     background-color: #ececec;
// }


.header__navigation {
    // margin: 0;
    margin-top: 48px;
    margin-left: 40px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    // align-items: center;
    color: $header-list;
    
}



.header__link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-logo);

}

// .header .header__nav{
    
// }

// .header__nav {
//     display: flex;
//     margin: 0;
//     padding-top: 24px;
//     padding-bottom: 25px;
// }

.header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--color-blue);
    text-decoration: none;
}


.header__text {
    // padding-top: 32px;
    margin-bottom: 32px;
    transition: color 250ms $cubik;
    color: $header-list;
    text-decoration: none;

    &:hover {
        color: $color-blue;
    }

    &:focus {
        color: $color-blue;
    }
}


// .current {
//     position: relative;
//     color: $color-blue;

//     &::after {
//         content: '';
//         position: absolute;
//         width: 100%;
//         height: 4px;
//         bottom: -5px;
//         left: 0;
//         border-radius: 2px;
//         background-color: $color-blue;
//     }
// }


.header__item {

    // @media screen and (min-width: 480px) {
    // }
    
    margin-bottom: 32px;
    
    &:last-child{
    margin-left: 0px;
    }
}


.header__contacts {
    // display: flex;
    // margin: 0;
    margin-top: 306px;
    margin-left: 40px;
    padding: 0;
    // padding-left: 15px;
    // padding-right: 15px

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }

}

.header__label {
    font-weight: 500;
    font-size: 14px;
    // display: flex;
    align-items: center;
    line-height: 1.7;
    text-decoration: none;
    letter-spacing: 0.03em;
    // padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms $cubik;

    @media screen and (min-width: 480px) {
        font-size: 34px;
    }

    &--color {
        color: $color-text;
    }

    &:hover, 
    &:focus {
        color: $color-blue;
        transition: color 250ms $cubik;
    }

}

.header__envelope {
    width: 16px;
    height: 12px;
    fill: $color-text;
    margin-right: 10px;

    @media screen and (max-width: 768px) {
        display: none;
    }

    .header__label:hover & {
        fill: $color-blue;
        transition: color 250ms $cubik;
    }
}

.header__smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: $color-text;

    @media screen and (max-width: 768px) {
        display: none;
    }

    .header__label:hover & {
        fill: $color-blue;
        transition: color 250ms $cubik;
    }
}

